@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

*::-webkit-scrollbar {
  display: none;
}

/* custom tailwind */
@layer base {
  /* h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  p {
    @apply text-base;
  } */
}

@layer components {
  /* .btn {
    @apply px-4 py-2 rounded-md text-white bg-purple-400;
  } 
  .btn-primary {
    @apply bg-blue-400 px-4 py-2 rounded-md text-white;
  } */
}

/* common classes */

/* responsive classes */
.main-container {
  @apply w-full mx-auto px-6 lg:px-2;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1170px !important;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px !important;
  }
}
